/*Custom Style*/

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    text-align: center;
}

h1 {
    font-weight: 100;
    margin-top: 50px;
    color: #51b7f8;
}

h2 {
    font-weight: 100;
    font-size: 14px;
    margin-bottom: 40px;
    color: #51b7f8;
}

div.hdrimg {
    background: url('../img/AidsIsgoingToLooseC.jpg') repeat;
    font-weight: bold;
    color: #000000;
}

span {
    color: #51b7f8;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 40px;
}

.page-header {
    font-family: "Helvetica";
    font-size: 56px;
    font-weight: bold;
    color: #424242;
}

h2 {
    font-family: "Helvetica";
    font-size: 48px;
    font-weight: bold;
    color: #424242;
}

#fasttracklogo {
    position: absolute;
    top: 270px;
    left: 5px;
    width: 250px;
    height: 77px;
}

#contact {
    cursor: pointer;
}

#about {
    cursor: pointer;
}

.about-text {
    text-align: justify;
}

.teaser-well {
    height: 490px;
}

.bignumber {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: red;
}

.picaption {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 14px;
    color: #888888;
    margin-top: 5px;
    align-content: center;
}

.textbox {
    text-align: left;
}

.leftborder{
    border-left:1px solid #bbbbbb;
}

/* Heat Map Style - Start */
#h-heatmap {
    font: 12px sans-serif;
}

.rowLabel, .colLabel {
    font: 12px sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.heatmap {
    font-size: 12px;
    font-family: sans-serif;
}

rect.bordered {
    stroke: #E6E6E6;
    stroke-width: 2px;
}

text.mono {
    font-size: 12px;
    font-family: sans-serif;
    fill: #000;
}

text.legendElement {
    font-size: 12px;
}

text.hover {
    font-weight: bold;
    fill: #66F;
    font-background: #000;
}

rect.cell-hover {
    stroke: #66F;
    stroke-width: 2px;
}

rect.cell {
    shape-rendering: crispEdges;
}

/* Tooltip Style */
div.tooltip {
    position: absolute;
    text-align: left;
    display: inline;
    padding: 6px;
    font: 13px sans-serif;
    background-color: #000;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
    color: #fff;
}

.d3-tip {
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
    position: fixed;
    pointer-events: none;
}

/* Heat Map Style - End */

/* Current state styles*/
.indicator-buttons {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 140px;
}

#mapYearSlider {
    margin: 20px 0 10px 20px;
    width: 900px;
}

.expanded {
    margin: 20px;
}

li.key {
    border-top-width: 15px;
    border-top-style: solid;
    font-size: .75em;
    width: 10%;
    height: 5px;
    padding-left: 0;
    padding-right: 0;
}

.graticule {
    fill: none;
    stroke: #777;
    stroke-opacity: .5;
    stroke-width: 2px;
}

.land {
    fill: none;
    cursor: pointer;
}

.devpics {
    padding-top: 10px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    height: 80px;
}

.devname {
    font-style: italic;
    font-size: 10px;
    color: #eeeeee;
    margin-top: 5px;
    margin-bottom: 10px;
}

.boundary {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
}

.contactbox {
    width: 100px;
    height: 350px;
    background: #222222;
    float: left;
    left: -100px;
    top: 40%;
    position: fixed;
    border-radius: 0px 15px 15px 0px;
    z-index: 33;

}

.aboutbox {
    width: 300px;
    height: 400px;
    background: #222222;
    display: block;
    top: 10%;
    margin: 0 auto;
    align-content: center;
    border-radius: 10px;
    opacity: 0.5;
    z-index: 33;

}

/****************/
/*   TOOLTIPS   */
/****************/

.d3-tip {
    padding: 12px;
    background: rgba(246, 246, 246, 0.9);
    color: #222;
    border-radius: 8px;
    pointer-events: none;
}

.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 8px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    position: absolute;
    pointer-events: none;
}

.d3-tip.n:after {
    content: "\25BC";
    margin: -3px 0 0 0;
    top: 100%;
    left: 0;
    text-align: center;
}

#maptip.tooltip {
    position: absolute;
    text-align: center;
    width: 180px;
    height: 80px;
    padding: 2px;
    color: #eeeeee;
    font-size: 14px;
    background: black;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

.selected-region {
    fill: #4682B4;
    stroke: #4682B4;
    stroke-width: 2px;
}

.area {
    fill: steelblue;
    clip-path: url(#clip);
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.tslider .thandle {
    fill: #fff;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: 1.25px;
    cursor: crosshair;
    shape-rendering: crispEdges;
}

.playpause{
    padding:4px 4px;

    font-size: 8px;
    height:30px;
}

.trendline {
    fill: none;
    stroke: red;
    stroke-width: 3.5px;

}

.brush .extent {
    stroke: #fff;
    fill-opacity: .125;
    shape-rendering: crispEdges;
}

svg {
    font: 10px sans-serif;
}

/****************/
/*  Future CHART  */
/****************/

.line {
    fill: none;
    stroke: #1C9A3D;
    stroke-width: 1.5px;
}

.tooltip-circle {
    fill: #96AB96;
}

.circle-plot-label {
    font-size: 12px;
    text-anchor: end;
}

#future-area-chart {
    fill: #e89a00;
    stroke: orange;
}

/****************/
/*  FUTURE PERSON CHART  */
/****************/

.fa-male {
    color: dodgerblue;
    /*text-shadow: 1px 1px 1px #ccc;*/
    font-size: 40px;
}

/****************/
/*  FUTURE CIRCLE CHART  */
/****************/
.future-dot {
    cursor: pointer;
}

.future-dot:hover {
    fill: #edf400;
    stroke: yellow;
}

.circle-plot-label {
    /*text-shadow: 2px 2px grey;*/
}

.axis-future path,
.axis-future line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

.axis-future text {
    font-size: 11px;
}

.tooltip-circle {
    fill: #96AB96;
}

.y-axis-future-text {
    font-size: 12px;
    fill: white;
}

.future-circle-legend-label{
    font-size: 12px;
}

/***********************/
/*  FAST TRACK TARGETS */
/***********************/

.logoB {
    fill: #24c2ff;
}

.logoR {
    fill: #c91218;
}

.FTTitle {
    fill: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 33px;
    font-weight: 900;
}

.FTSubTitle {
    fill: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 900;
}

.FTTargetR {
    fill: #c91218;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 900;
}

.FTTargetB {
    fill: #24c2ff;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 900;
}

.FTTargetTR {
    fill: #c91218;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 900;
}

.FTTargetTB {
    fill: #24c2ff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 900;
}
